.login {
  display: grid;
  place-items: center;
  height: 100vh;
}

.login > div {
  display: flex;
  flex-direction: column;
}

.login > div > img {
  object-fit: contain;
  height: 150px;
}

.login > button {
  width: 300px;
  background-color: #2e81f4;
  color: #eff2f5;
  font-weight: 600;
}

.login > button:hover{
  color: #2e81f4;
  background-color: #ffffff;
}
